{% extends "movies/base.html" %}

{% block content %}

<h1>회원정보 페이지</h1>

{% if user.is_authenticated %}
<hr/>
<h2>계정이름: {{ user.username }}</h2>
<br>
<h2>이메일: {{ user.email }}</h2>
<hr/>

<h2>작성한 리뷰 목록</h2>
{% if reviews %}
  <ol>  
  {% for review in reviews %}
  <li><a href="{% url "reviews:review_detail" pk=review.pk%}">
    리뷰 제목: {{review.review_title}}</a></li>
  {% endfor %}
  </ol>
{% else %}
  <li>작성한 리뷰가 없습니다.</li>
{% endif %}

<hr/>
<h2>작성한 댓글 목록</h2>
{% if comments %}
  <ol>
    {% for comment in comments %}
      <li><a href="{% url "reviews:review_detail" comment.review.id %}">댓글: {{comment.content}}</a>
      </li>
    {% endfor %}

  </ol>
{% else %}
<li>작성한 댓글이 없습니다.</li>
{% endif %}

<hr/>
<form action="{% url "accounts:update" %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="회원정보 수정하기">
</form>
<br>

<form action="{% url "accounts:logout" %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="로그아웃하기">
</form>
<br>
<form action="{% url "accounts:delete" %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="회원탈퇴하기">
</form>

{% else %}
  <h2>로그인 후 이용해주세요.</h2>
{% endif %}


{% endblock content %}



