{% extends "movies/base.html" %}


{% block content %}

<h1>리뷰 상세보기</h1>
<h2>{{review.pk}}번째 리뷰</h2>
<hr/>
<p>영화 제목: {{review.review_movie}}</p>
<p>작성자: {{review.user}} </p>
<p>리뷰 제목: {{review.review_title}}</p>
<p>리뷰 내용: {{review.review_content}}</p>
<p>최근 리뷰 업데이트 시간: {{review.review_date}}</p>
<hr/>
{% if request.user == review.user %}
<a href="{% url 'reviews:review_update' pk=review.pk%}" >[리뷰 수정하기]</a><br>
<a href="{% url 'reviews:review_delete' pk=review.pk %}" class="review_delete_btn">[리뷰 삭제하기]</a><br>
{% endif %}
<a href="{% url 'reviews:review_list' %}" >[리뷰 목록 보러가기]</a><br>
<hr/>

{% if user.is_authenticated and request.user == review.user %}
<form action="{% url 'reviews:review_create_comment' pk=review.pk %}" method="POST">
  {% csrf_token %}
  {{comment_form}}
  <input type="submit" value="댓글 작성">
</form>
{% endif %}
<hr/>

<h2>댓글 목록 ( {{ comments | length }} )</h2>
<ol>
  {% if comments %}
  {% for comment in comments %}
    <li>
      <p>{{review.user}} : {{ comment.content }}</p>
      
      {% if user.is_authenticated and request.user == review.user %}
      <form action="{% url "reviews:review_delete_comment" review_id=review.pk comment_id=comment.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글 삭제">
      </form>
      {% endif %}
    </li>
  {% endfor %}
  {% else %}
    <p>댓글이 없습니다.</p>
  {% endif %}
</ol>


{% endblock content %}