<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% extends "movies/base.html" %}

  {% block content %}
  <h1> 영화 블로그 프로젝트 메인 페이지</h1>

  <h3> 영화 블로그 내용을 관리합니다. </h3>
    {% for movies in movies %}
      <a href="{% url 'movies:detail' pk=movies.pk %}">
        <li>{{movies.title}}</li></a>

      {% if movies.is_open %}
      
      <p>개봉여부 : <input type='checkbox' checked /></p>
      {% else %}
      <p>개봉여부 : <input type='checkbox' /></p>
      {% endif %}

    {% endfor %}

    <br>
    <a href= "/movies/create_movie">영화 추가</a>

  {% endblock content %}
</body>
</html>